@use'../abstracts' as *;

.card {
	display: grid;
	justify-items: center;
	width: 83vw;
	max-width: 350px;
	padding: 2rem 0;
	padding-bottom: 6rem;
	background-color: $white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	

	@include medium {
		grid-template-columns: repeat(2, 1fr);
		width: 75vw;
		max-width: 730px;
		height: auto;
		padding: 0;
		padding-right: 2rem;
		background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 126%;
    background-position: bottom 40% right -211%;
	}
	@include large {
		padding-right: 4rem;
		background-position: bottom 40% right -230%;
	}
}

.accordion {
	margin-top: -6rem;

	@include medium {
		align-self: flex-start;
		margin-top: 5rem;
		margin-bottom: 5rem;
		text-align: center;
	}
}
.accordion__title {
	margin-bottom: 3.5rem;
	font-size: 3rem;
	font-weight: $font-bold;
	text-align: center;
	color: $very-dark-desaturated-blue;

	@include medium {
		margin-bottom: 2.5rem;
		text-align: left;
	}
}
.accordion__item {
	margin-bottom: 1rem;
}
.accordion__question {
	width: 35ch;
	padding: 1rem 0 1.5rem;
	font-size: 1.3rem;
	text-align: left;
	color: $very-dark-grayish-blue;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $light-grayish-blue;
	position: relative;

	&::marker {
		content: '';
	}

	&:after {
		content: url('/images/icon-arrow-down.svg');
		position: absolute;
		top: 10px; 
		right: 0;
		transform: rotate(0);
		transition: .3s ease;
	}

	&--active {
		font-weight: $font-bold;
		color: $very-dark-desaturated-blue;
		border: none;

		&:after {
			transform: rotate(180deg);
		}
	}
	
	&:focus {
		outline: none;
	}

 	&:hover {
		@include large {
			color: $soft-red;
			cursor: pointer;
		}
	}
	@include large {
		width: 40ch;
		font-size: 1.5rem;
	}
}

.accordion__answer {
	opacity: 0;
	width: 32ch;
	padding-bottom: 1.5rem;
	font-size: 1.3rem;
	font-weight: normal;
	text-align: left;
	color: $dark-grayish-blue;
	line-height: 1.5;
	border-bottom: 1px solid $light-grayish-blue;
	
	&--active {
		opacity: 1;

		@include large {
			width: 38ch;
			font-size: 1.4rem;
		}
	}
}