@use "../abstracts" as *;

.card__image {
 
  @include medium {
    justify-self: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.image__container {
  background-image: url(../images/bg-pattern-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 225px;
  transform: translateY(-55%);
  
  @include medium {
    width: 280px;
    background-image: none;
    transform: translateY(10%);
  }
  @include large {
    width: 300px;
    height: 400px;
    overflow: hidden;
  }
}
.image__woman img {
  width: 240px;
  object-fit: cover;
  transform: translate(-10%, -8%);
  
  @include medium {
    width: 365px;
    transform: translate(-26%, 20%);
  }
  @include large {
    width: 360px;
    transform: translate(-16%, 20%);
  }  
}
/* relative to container */
.image__box__desktop {  
  display: none;
  
  @include large {
    display: block;
    width: 80px;
    position: absolute;
    top: 175px;
    left: 100px;
    transition: transform 200ms ease-in-out;
  }
  &--active {
    transform: translateX(-30px);
  }
}