/* General
-----------------------------------------------------------------------------*/
html {
    min-height: 100vh;
}

body {
    font-family: $kumbh_sans, sans-serif;
    font-size: 12px;
    @include gradient(to bottom right, $colors_gradient);
}

footer {
    margin: 1rem auto;

    @media screen and (min-width: 1200px) {
        margin: 0.5rem auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.attribution { 
    font-size: 15px;
    text-align: center; 
    color: $light_grayish_blue;

    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}

.attribution a {
    color: greenyellow;
    padding-right: 0.5rem;
}