@use'../abstracts' as *;

html {
	height: 100%;
  font-size: 62.5%;
}
body {
	max-width: 1440px;
	margin: auto;
	min-height: 100%;
  font-family: $font-primary;
  font-size: 1.6rem;

  @include gradient(to right, $colors-gradient);
}
/******************************* 
	SECTION
/********************************/
section {
	padding: 14rem $section-inline-padding;
}
.container {
	display: grid;
	place-content: center;
	max-width: 1100px;
	margin: auto;
	height: auto;
	position: relative;
}
/******************************* 
	FOOTER
/********************************/
.footer {
  margin-top: auto;
  padding: 2em;
  text-align: center;
  color: $very-dark-desaturated-blue;

	&__attribution a {
		text-decoration: none;
		color: $very-dark-desaturated-blue;
		transition: color .1s ease;

		&:hover,
		&:focus-visible {
  	color: $light-grayish-blue;
		}
	}
}