@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* COLORS */
/* Gradient body background */
/* PADDINGS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, picture, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin: auto;
  min-height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to right, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
}

/******************************* 
	SECTION
/********************************/
section {
  padding: 14rem clamp(2rem, 2rem + (1vw - 0.32rem) * 5.7361, 8rem);
}

.container {
  display: grid;
  place-content: center;
  max-width: 1100px;
  margin: auto;
  height: auto;
  position: relative;
}

/******************************* 
	FOOTER
/********************************/
.footer {
  margin-top: auto;
  padding: 2em;
  text-align: center;
  color: hsl(238, 29%, 16%);
}
.footer__attribution a {
  text-decoration: none;
  color: hsl(238, 29%, 16%);
  transition: color 0.1s ease;
}
.footer__attribution a:hover, .footer__attribution a:focus-visible {
  color: hsl(240, 5%, 91%);
}

.card {
  display: grid;
  justify-items: center;
  width: 83vw;
  max-width: 350px;
  padding: 2rem 0;
  padding-bottom: 6rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    width: 75vw;
    max-width: 730px;
    height: auto;
    padding: 0;
    padding-right: 2rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 126%;
    background-position: bottom 40% right -211%;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    padding-right: 4rem;
    background-position: bottom 40% right -230%;
  }
}

.accordion {
  margin-top: -6rem;
}
@media screen and (min-width: 768px) {
  .accordion {
    align-self: flex-start;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
}

.accordion__title {
  margin-bottom: 3.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: hsl(238, 29%, 16%);
}
@media screen and (min-width: 768px) {
  .accordion__title {
    margin-bottom: 2.5rem;
    text-align: left;
  }
}

.accordion__item {
  margin-bottom: 1rem;
}

.accordion__question {
  width: 35ch;
  padding: 1rem 0 1.5rem;
  font-size: 1.3rem;
  text-align: left;
  color: hsl(237, 12%, 33%);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  position: relative;
}
.accordion__question::marker {
  content: "";
}
.accordion__question:after {
  content: url("/images/icon-arrow-down.svg");
  position: absolute;
  top: 10px;
  right: 0;
  transform: rotate(0);
  transition: 0.3s ease;
}
.accordion__question--active {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
  border: none;
}
.accordion__question--active:after {
  transform: rotate(180deg);
}
.accordion__question:focus {
  outline: none;
}
@media screen and (min-width: 1280px) {
  .accordion__question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) {
  .accordion__question {
    width: 40ch;
    font-size: 1.5rem;
  }
}

.accordion__answer {
  opacity: 0;
  width: 32ch;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: left;
  color: hsl(240, 6%, 50%);
  line-height: 1.5;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
.accordion__answer--active {
  opacity: 1;
}
@media screen and (min-width: 1280px) {
  .accordion__answer--active {
    width: 38ch;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .card__image {
    justify-self: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.image__container {
  background-image: url(../images/bg-pattern-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 225px;
  transform: translateY(-55%);
}
@media screen and (min-width: 768px) {
  .image__container {
    width: 280px;
    background-image: none;
    transform: translateY(10%);
  }
}
@media screen and (min-width: 1280px) {
  .image__container {
    width: 300px;
    height: 400px;
    overflow: hidden;
  }
}

.image__woman img {
  width: 240px;
  object-fit: cover;
  transform: translate(-10%, -8%);
}
@media screen and (min-width: 768px) {
  .image__woman img {
    width: 365px;
    transform: translate(-26%, 20%);
  }
}
@media screen and (min-width: 1280px) {
  .image__woman img {
    width: 360px;
    transform: translate(-16%, 20%);
  }
}

/* relative to container */
.image__box__desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .image__box__desktop {
    display: block;
    width: 80px;
    position: absolute;
    top: 175px;
    left: 100px;
    transition: transform 200ms ease-in-out;
  }
}
.image__box__desktop--active {
  transform: translateX(-30px);
}

/*# sourceMappingURL=style.css.map */
