// Body background gradient
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

// Color card
$white: #fff;

// Color accordion_container_title
$verydark_desaturated_blue: hsl(238, 29%, 16%);

// Color accordion_title hover
$softred: hsl(14, 88%, 65%);

// Text
$verydark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);

// Dividers
$light_grayish_blue: hsl(240, 5%, 91%);

// Gradient body background
$colors_gradient: $soft_violet, $soft_blue;